html body {
    box-sizing: border-box;
    background-color: #101a3a;
    padding: 0;
    margin: 0;
}

.form-container{
    padding-top : 50px;
    padding-left : 300px;
    padding-right : 300px;
}
.form-container label {
    color: white;
}

@media screen and (max-width: 767px) {
    .form-container{
        padding-top : 170px;
        padding-left : 30px;
        padding-right : 30px;
    }
  }