
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');

html body {
    background-color: #101a3a;
    font-family: 'Signika Negative', sans-serif;
}

.form-control {
    padding : 10psx; 
}

.content-wrapper {
   padding-left: 15rem;
   padding-right: 15rem;
}

a  {
    cursor: pointer;
}

/* Default styles */

/* Styles for medium devices (tablets) */
@media (max-width: 768px) {
    .content-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
     }
  }
  
  /* Styles for small devices (mobile) */
  @media (max-width: 480px) {
    .content-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
     }
  }
  
